
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin: 0 auto;
    height: 100vh; 
    flex-direction: column;
    width: 1200px; 

    @media(max-width:600px){
        width: 100%;
        height: auto;
        padding: 24px;
    }

    img{
        height: 400px;

        @media(max-width:720px){
            width: 100%;
            height: 100vh;
        }
    }

    h1{
        color: aqua;
        font-size: 48px;
        text-align: center;

        @media(max-width:720px){
            font-size: 32px;
        }
    }

    p{
        color: #FFF;
    }
}

body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(12, 12, 200);
}
