
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin: 0 auto;
    height: 100vh; 
    flex-direction: column;
    width: 1200px;

    img{
        height: 400px;
    }

    h1{
        color: aqua;
        font-size: 48px;
    }
    p{
        color: #FFF;
    }
}

body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(12, 12, 200);
}
